@media screen and (min-width: 320px) and (max-width: 545px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

#root {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  width: 100vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Cara Bermain*/
.how-to {
  width: 50%;
  text-align: left;
}
.ht-clicker {
  text-align: center;
  background-color: #babdc1;
  outline: none;
  cursor: pointer;
}

.ht-hiddendiv {
  padding: 1em;

  margin: 1em;
  color: black;
  display: none;
  background-color: #e0c0af;
}

.ht-clicker:focus + .ht-hiddendiv {
  display: block;
}
/**/

.start-button {
  margin-top: 1rem;
  height: 30px;
}

@media screen and (orientation: lanscape) {
  .start-button {
    margin-top: 1rem;
  }
}

.congklak-hole {
  width: 47px;
  height: 47px;
  border: none;
  border-radius: 50%;
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  outline: none;
  cursor: pointer;
  background-image: radial-gradient(black, black, black, brown, brown);
  color: white;
}

.congklak-hole:disabled {
  cursor: not-allowed;
  color: white;
}

.congklak-hole-focused {
  color: red;
  background-image: radial-gradient(brown, brown, brown, black, black);
}

.congklak-board {
  background-color: brown;
  border: 2px solid black;
  border-radius: 30%;
  box-shadow: 10px 10px brown;
  padding: 10px 50px;
}

.inhand-counter {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
