#root {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  width: 100vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.start-button {
  margin-top: 1rem;
}

.congklak-hole {
  border: none;
  border-radius: 50%;
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  outline: none;
  cursor: pointer;
}

.congklak-hole:disabled {
  cursor: not-allowed;
}

.congklak-hole-focused {
  color: red;
  background-color: black;
}
